<!DOCTYPE html>
<head>

  <title>
    Dema City
  </title>

  <meta name="theme-color" content="#1c1c1c">
  <meta property=”og:type” content=”website”/>
  <meta property="og:title" content="Dema City">
  <meta property="og:url" content="https://dema.city">
  <meta property="og:description" content="Welcome to Dema City, a multiporpose plataform.">
  <meta property="og:image" content="/images/DemaLogo.png">

  <link rel="shortcut icon" href="/assets/images/favicon.ico"/>
  <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">

  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <meta name="google" content="notranslate"/>

  <link rel="stylesheet" href="/assets/styles/css/index.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

  <script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>
  <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
  <script defer src="/assets/scripts/neo.js"></script>
</head>