@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --background: #1c1c1c;
  --secondary-background: #292929;
  --thirdnary-background: #e3e3e3;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--thirdnary-background);
  border-radius: 5px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: var(--background);
  margin: 0;
}

svg {
  display: block;
}

a {
  text-decoration: none;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
  pointer-events: none;
}

*, ::after, ::before {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #e3e3e3;
  box-sizing: border-box;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@media (min-width: 576px) {
  .container {
    max-width: 540px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container {
  width: 100%;
  padding: 5px;
  margin-right: auto;
  margin-left: auto;
}

.head-docs {
  h1 {
    font-weight: 500;
  }
  .head {
    text-align: center;
    margin-top: 20%;

    .description-box {
      background: var(--secondary-background);
      margin-left: 27%;
      margin-right: 27%;
      padding: .05px .5ch .05px;
      border-radius: 5px;
    }

    .arrow-box {
      position: fixed;
      left: 50%;
      bottom: 10%;
    }
  }
}

.main-docs {
  background: var(--secondary-background);
  font-weight: 500;

  .documents {
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    color: var(--thirdnary-background);

    .column {
      flex: 22%;
      padding: 20px;
      margin: 2.5px;
      border-radius: 5px;
      background: var(--background);
      cursor: pointer;
      transition: transform 1s;
    }

    .column:hover {
      transform: scale(1.01);
    }

    @media screen and (max-width: 992px) {
      .column {
        flex: 50%;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .documents {
      flex-direction: column;
    }
  }

  
  .footer {
    margin-top: 5%;
    width: 100%;
    padding-top: .3ch;
    text-align: center;
    font-style: italic;
    background: var(--background);
  }
}