@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --background: #1c1c1c;
  --secondary-background: #292929;
  --thirdnary-background: #e3e3e3;
  --text-color: #ddd;
  --hightlight-color: #5b58f2;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--thirdnary-background);
  border-radius: 5px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: var(--background);
  margin: 0;
}

svg {
  display: block;
}

a {
  text-decoration: none;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
  pointer-events: none;
}

*, ::after, ::before {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: var(--text-color);
  box-sizing: border-box;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@media (min-width: 576px) {
  .container {
    max-width: 540px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container {
  width: 100%;
  padding: 5px;
  margin-right: auto;
  margin-left: auto;
}

@keyframes loading-animation {
  0% {
    left: -100%;
  }
  49% {
    left: 100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

.loader {
  height: 5px;
  width: 100%;
  .bar {
    position: relative;
    height: 5px;
    background: var(--hightlight-color);
    animation-name: loading-animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
}

.navbar {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 40px;
    margin-top: 15px;
    font-size: 14px;
    margin-left: 20px;
    border-radius: .5ch;
  }

  li {
    a {
      display: block;
      color: var(--text-color);
      text-align: center;
      padding: 8px 22px;
      text-decoration: none;
      height: 100%;
      border-radius: .5ch;
      position: relative;

      img {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        position: absolute;
        top: 30%;
        left: 10%;
      }
    }

    a.profile {
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 38px;
      padding-right: 22px;
    }

    a.disabled {
      cursor: default;
    }
  
    a:not(.disabled) {
      border: 1px solid var(--hightlight-color);
    }
    
    a:not(.disabled):hover {
      background: var(--secondary-background);
    }
  }

  li:not(.right) {
    float: left;
  }

  li.right {
    float: right;
  }

  li:not(:last-child) {
    margin-right: 1ch;
  }
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
  }

  .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
  }

  .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
  }

  .container.right-panel-active .sign-in-container {
    transform: translateX(100%);
  }

  .sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
  }

  .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
  }

  @keyframes show {
    0%,
    49.99% {
      opacity: 0;
      z-index: 1;
    }

    50%,
    100% {
      opacity: 1;
      z-index: 5;
    }
  }

  .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
  }

  .container.right-panel-active .overlay-container {
    transform: translateX(-100%);
  }

  .overlay {
    background: var(--first-color-light);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: var(--text-color);
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }

  .container.right-panel-active .overlay {
    transform: translateX(50%);
  }

  .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }

  .overlay-left {
    transform: translateX(-20%);
  }

  .container.right-panel-active .overlay-left {
    transform: translateX(0);
  }

  .overlay-right {
    right: 0;
    transform: translateX(0);
  }

  .container.right-panel-active .overlay-right {
    transform: translateX(20%);
  }

  .social-container {
    margin: 20px 0;
  }

  .social-container a {
    border: 1px solid var(--text-color);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
  }

  h1 {
    font-weight: bold;
    margin: 0;
    color: #FFF;
  }

  .overlay h1 {
    color: var(--text-color);
  }

  p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
    color: var(--text-color);
  }

  span {
    font-size: 12px;
  }

  a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
  }

  button {
    border-radius: 20px;
    border: 1px solid var(--thirdnary-background);
    background-color: var(--thirdnary-background);
    color: var(--text-color);
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
  }

  button:active {
    transform: scale(0.95);
  }

  button:focus {
    outline: none;
  }

  button.ghost {
    background-color: transparent;
    border-color: var(--thirdnary-background);
  }

  form {
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
  }

  input {
    background-color: var(--text-color);
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
  }

  box-icon {
    fill: var(--thirdnary-background);
  }
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background: var(--first-color-light);
  text-align: center;
  border-radius: .5ch;
  padding: 16px;
  position: fixed;
  z-index: 999;
  left: 50%;
  top: 30px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: snack_fadein 0.5s, snack_fadeout 0.5s 2.5s;
  animation: snack_fadein 0.5s, snack_fadeout 0.5s 2.5s;
}

@-webkit-keyframes snack_fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@keyframes snack_fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes snack_fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes snack_fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

.link-tree {
  footer{
    text-align: center;
    font-size: 0.75rem;
    font-weight: 400;
    position: absolute;
    bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  #userPhoto {
    width: 96px;
    height: 96px;

    display: block;

    margin: 35px auto 20px;
    margin-top: 75px;
    border-radius: 50%;
    border: solid var(--purple) 2px;
  }

  #userName {
    width: 100%;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    line-height: 1.25;
    display: block;
  }

  #links {
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
    padding-left: 1ch;
    padding-right: 1ch;
  }

  .link {
    display: block;
    margin-bottom: 20px;
    padding: 17px;
    color:var(--thirdnary-background);

    font-family: var(--font);
    font-size: 1rem;
    font-weight: 500;

    border-radius: 5px;
    border: solid var(--hightlight-color) 1px;

    text-align: center;
    text-decoration: none;

    transition: all .25s cubic-bezier(.08,.59,.29,.99);
  }

  .link:hover{
    background-color: var(--secondary-background);
    color: var(--text-color);
  }
}