@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --hightlight-color: #5952da;
  --hightlight-secondary-color: #5952da;
  --primary-color: #292929;
  --secondary-color: #f5f5f5;
  --background-color: #101010;
  /* #1c1c1c */
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(55, 55, 55, 0.7);
  border-radius: 5px;
}

.container {
  width: 100%;
  padding: 5px;
  margin-right: auto;
  margin-left: auto;
}

.container::before {
  left: 50%;
  top: 0;
  bottom: 0;
  width: 1px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

html, body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

@media only screen and (max-width: 768px) {
  html, body {
    width: 100%;
    overflow-x: hidden;
  }
}

button {
  font-family: "Poppins", sans-serif;
  border: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.5;
  color: var(--secondary-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a, ::before, ::after {
  text-decoration: none;
  color: inherit;
}

.sp {
  width: 100%;
  height: 16px;
}

.navbar {
  font-size: 1.15rem;
  text-align: center;
}

.navbar ul {
  display: inline-block;
}

.navbar ul li {
  float: left;
  padding: 6px 22px;
  list-style: none;
  background: var(--primary-color);
  margin-left: 5px;
  border-radius: .5ch;
  -webkit-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
  cursor: pointer;
  font-weight: 400;
}

.navbar ul li:hover {
  opacity: .5;
  background: var(--background-color);
}

.navbar ul li .icon {
  display: none;
  opacity: .85;
}

.homepage .subjects {
  margin-left: 10%;
  width: 80%;
  margin-top: 50px;
  position: relative;
  border-radius: .5ch;
  border: 2px solid var(--background-color);
  padding: 0px 10px 20px 10px;
}

.homepage .subjects .subjects-title {
  opacity: .5;
  font-weight: 400;
}

.homepage .subjects .subjects-description {
  height: 30px;
  margin-top: -25px;
  font-weight: 400;
  font-size: .9rem;
  opacity: .9;
}

.homepage .subjects .subject {
  width: 100%;
  height: 60px;
  overflow: hidden;
  border-radius: .5ch;
  background: var(--primary-color);
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.homepage .subjects .subject .title {
  position: absolute;
  top: 15%;
  left: 20px;
  padding: 5px 10px;
  font-size: 1.3rem;
}

.homepage .subjects .subject .link {
  position: absolute;
  top: 23%;
  right: 20px;
  background: var(--background-color);
  padding: 5px 10px;
  border-radius: .5ch;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  font-size: 16px;
  font-weight: 400;
}

.homepage .subjects .subject .link:hover {
  opacity: .75;
}

.homepage .subjects .subject:not(.first-child) {
  margin-top: 10px;
}

.homepage .subjects .subject:hover {
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
}

.homepage .students {
  margin-left: 10%;
  width: 80%;
  margin-top: 40px;
  position: relative;
  border-radius: .5ch;
  border: 2px solid var(--background-color);
  padding: 0px 10px 20px 10px;
}

.homepage .students .students-title {
  opacity: .5;
  font-weight: 400;
}

.homepage .students .students-description {
  height: 10px;
  margin-top: -25px;
  font-weight: 400;
  font-size: .9rem;
  opacity: .9;
}

.homepage .students .students-show-hide {
  padding: 7.5px 18px;
  border-radius: .5ch;
  background: var(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  font-weight: 500;
}

.homepage .students .students-show-hide:hover {
  opacity: .75;
}

.homepage .students #students-list .student {
  float: left;
  width: 24%;
  min-height: 200px;
  text-align: center;
  background: rgba(41, 41, 41, 0.25);
  border-radius: .5ch;
}

.homepage .students #students-list .student:not(:first-child) {
  margin-left: .5%;
}

.homepage .students #students-list .student .name {
  opacity: .75;
  font-size: 1.3rem;
  display: block;
  width: 100%;
  height: 1.6rem;
}

.homepage .students #students-list .student .avatar {
  margin-top: 35px;
  border-radius: 50%;
  width: 72px;
  height: 72px;
}

.homepage .students #students-list .student .projects {
  opacity: .15;
  font-size: 1rem;
  font-weight: 400;
}

.homepage .students::after {
  content: "";
  display: table;
  clear: both;
}

.homepage .about {
  margin-left: 10%;
  width: 80%;
  position: relative;
  border-radius: .5ch;
  border: 2px solid var(--background-color);
  padding: 0px 10px 20px 10px;
  margin-top: 30px;
}

.homepage .about .about-title {
  opacity: .5;
  font-weight: 400;
}

.homepage .about .about-description {
  margin-top: -25px;
  font-weight: 400;
  font-size: .9rem;
  opacity: .9;
  line-height: 1.6rem;
}

.homepage .about .about-description span {
  color: var(--hightlight-color);
  font-weight: 600;
}

.homepage .about .qr img {
  display: none;
  width: 128px;
  height: 128px;
  border-radius: .25ch;
  margin-top: 5px;
  opacity: .9;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.homepage .about .qr .btn {
  width: 100%;
}

.homepage .about .qr button {
  padding: 7.5px 18px;
  border-radius: .5ch;
  background: var(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  font-weight: 500;
}

.homepage .about .qr button:hover {
  opacity: .75;
}

.subject-body {
  margin-top: 50px;
}

.subject-body .subject-name {
  font-weight: 400;
  opacity: .5;
}

.subject-body .details {
  font-size: 1rem;
  opacity: .85;
  margin-top: -30px;
  padding: 0px 5px;
}

.subject-body .slash {
  opacity: .5;
  padding: 0px 7.5px;
}

.subject-body .teacher-prefix {
  opacity: .5;
  padding: 0px 2.5px 0px 2px;
}

.subject-body .projects {
  margin-top: 50px;
  padding: 0px 5px;
  border-radius: .5ch;
}

.subject-body .projects .project {
  width: 100%;
  background: var(--primary-color);
  padding: 20px 20px 10px 20px;
  border-radius: .5ch;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.subject-body .projects .project:hover img.banner {
  height: 300px;
}

.subject-body .projects .project:not(:first-child) {
  margin-top: 15px;
}

.subject-body .projects .project img.banner {
  width: 100%;
  height: 250px;
  border-radius: .5ch;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.subject-body .projects .project .info {
  padding: 5px 2.5px 15px 2.5px;
  position: relative;
}

.subject-body .projects .project .info .name {
  text-transform: capitalize;
  height: 20px;
  margin-top: -5px;
  opacity: 1;
  font-weight: 400;
}

.subject-body .projects .project .info .description {
  font-size: 1rem;
  opacity: .5;
  font-weight: 400;
  margin-top: -5px;
}

.subject-body .projects .project .info .spacer {
  height: 10px;
}

.subject-body .projects .project .info .date {
  position: absolute;
  bottom: 1px;
  right: 5px;
  font-weight: 400;
  font-size: 1rem;
  opacity: .1;
}

.subject-body .projects .project .info .date .icon {
  margin-left: 2.5px;
}

.subject-body .projects .project .info .students {
  position: absolute;
  bottom: -5px;
  left: 2px;
  font-size: 1rem;
}

.subject-body .projects .project .info .students .avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
}

.subject-body .projects .project .info .students .avatar:not(:first-child) {
  margin-left: -10px;
}

.project-body {
  margin-top: 50px;
}

.project-body .project-head .banner {
  width: 100%;
  height: 250px;
  border-radius: .5ch;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.project-body .project-head .banner:hover {
  height: 400px;
}

.project-body .project-head .project-title {
  margin-top: 0px;
  font-weight: 400;
  opacity: .75;
}

.project-body .project-head .project-description {
  font-size: 1rem;
  opacity: .35;
  margin-top: -30px;
}

.project-body .project-head .details {
  position: relative;
  font-size: 1rem;
  opacity: .85;
  padding: 0px 5px 0px 0px;
}

.project-body .project-head .details .slash {
  opacity: .5;
  padding: 0px 8px 0px 2px;
}

.project-body .project-head .details .tag {
  padding: 1px 1px 1px 6px;
  background: rgba(26, 26, 26, 0.2);
  opacity: .75;
  border-radius: .5ch;
  text-transform: capitalize;
}

.project-body .project-head .details .date {
  opacity: .25;
}

.project-body .project-head .details .students {
  position: absolute;
}

.project-body .project-head .details .students .avatar {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid var(--background-color);
}

.project-body .project-head .details .students .avatar:not(:first-child) {
  margin-left: -10px;
}

.project-body .spacer {
  width: 60%;
  border-bottom: 2px solid var(--primary-color);
  margin-top: 30px;
  opacity: .3;
}

.project-body .project-content {
  margin-top: 30px;
}

.project-body .project-content *, .project-body .project-content ::after, .project-body .project-content ::before {
  overflow: hidden;
}

.project-body .project-content h1, .project-body .project-content h2, .project-body .project-content h3, .project-body .project-content h4, .project-body .project-content h5, .project-body .project-content h6 {
  color: #c4c4c4;
  font-weight: 400;
}

.project-body .project-content p {
  font-size: 1rem;
  opacity: .85;
  text-indent: 10px;
  line-height: 1.4rem;
}

.project-body .project-content img {
  margin-top: 10px;
  border-radius: .5ch;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
}

.project-body .project-content .two {
  margin-top: -30px;
}

.project-body .project-content .two img {
  margin-top: 25px;
}

.project-body .project-content .two:not(:first-child) {
  margin-top: 30px;
}

.project-body .project-content .two .column {
  float: left;
  width: 49%;
}

.project-body .project-content .two .column p {
  padding: 10px;
}

.project-body .project-content .two .column:not(:last-child) {
  margin-right: 1%;
}

.project-body .project-content .two .column .alt {
  display: block;
  font-size: .8rem;
  height: 1rem;
  margin-top: 0px;
  font-weight: 500;
  font-style: italic;
}

.project-body .project-content .two::after {
  content: "";
  display: table;
  clear: both;
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.project-body .project-content .slide {
  -webkit-animation: show 1.5s ease-in-out 1;
          animation: show 1.5s ease-in-out 1;
  background: rgba(34, 34, 34, 0.4);
  padding: 10px 30px;
  border-radius: .5ch;
  min-height: 60vh;
  border: 2px solid transparent;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.project-body .project-content .slide:not(:first-child) {
  margin-top: 200px;
  opacity: .3;
}

.project-body .project-content .slide h1, .project-body .project-content .slide h2, .project-body .project-content .slide h3, .project-body .project-content .slide h4, .project-body .project-content .slide h5, .project-body .project-content .slide h6, .project-body .project-content .slide p {
  margin-top: 0px;
}

.project-body .project-content .slide p a {
  color: #c9c9c9;
}

.project-body .project-content .slide img {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.project-body .project-content .slide:focus {
  border-top-left-radius: .5ch;
  border-bottom-left-radius: .5ch;
  outline: none;
  border-left: 2px solid var(--hightlight-color);
  opacity: 1;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.project-body .project-content .slide:focus img {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  height: 400px;
}

.project-controls {
  position: absolute;
  top: 75%;
  left: 10%;
  -webkit-transform: translate(-75%, -15%);
          transform: translate(-75%, -15%);
  -ms-transform: translate(-75%, -15%);
}

.project-controls .btn {
  width: 42px;
  height: 42px;
  display: block;
  font-size: 16px;
  border-radius: .5ch;
  background: var(--primary-color);
  color: var(--text-color);
  cursor: pointer;
  text-align: center;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.project-controls .btn:hover {
  opacity: .75;
}

.project-controls .btn:not(:first-child) {
  margin-top: 5px;
}

.project-controls .btn[disabled] {
  opacity: .5;
  cursor: not-allowed;
}

.hightlight {
  -webkit-animation: hightlight 2.5s 1;
          animation: hightlight 2.5s 1;
}

@-webkit-keyframes hightlight {
  0% {
    border: 2px solid var(--background-color);
  }
  20% {
    border: 2px solid var(--background-color);
  }
  40% {
    border: 2px solid var(--hightlight-secondary-color);
  }
  50% {
    border: 2px solid var(--hightlight-secondary-color);
  }
  60% {
    border: 2px solid var(--hightlight-secondary-color);
  }
  80% {
    border: 2px solid var(--background-color);
  }
  100% {
    border: 2px solid var(--background-color);
  }
}

@keyframes hightlight {
  0% {
    border: 2px solid var(--background-color);
  }
  20% {
    border: 2px solid var(--background-color);
  }
  40% {
    border: 2px solid var(--hightlight-secondary-color);
  }
  50% {
    border: 2px solid var(--hightlight-secondary-color);
  }
  60% {
    border: 2px solid var(--hightlight-secondary-color);
  }
  80% {
    border: 2px solid var(--background-color);
  }
  100% {
    border: 2px solid var(--background-color);
  }
}

@media all and (max-width: 920px) {
  .students {
    display: none !important;
  }
  .navbar {
    margin-left: -10% !important;
  }
  .navbar .icon {
    display: block !important;
  }
  .navbar .text {
    display: none !important;
  }
  .homepage .subjects > .list {
    margin-top: 30px !important;
  }
  .homepage .subjects, .homepage .students {
    margin-left: 0% !important;
    width: 90% !important;
  }
  .homepage .student {
    width: 100%  !important;
  }
  .homepage .student:not(:first-child) {
    margin-top: 5px;
  }
  .homepage .about {
    margin-left: 0% !important;
    width: 90% !important;
  }
  .homepage .qr {
    display: none !important;
  }
  .subject-body {
    width: 80% !important;
  }
  .subject-body .subject-head {
    width: 100% !important;
    margin-left: 10% !important;
  }
  .subject-body .subject-name {
    text-align: center !important;
  }
  .subject-body .details {
    text-align: center !important;
  }
  .subject-body .details .slash {
    opacity: 0 !important;
    padding: 0 100% !important;
  }
  .subject-body .projects {
    text-align: center !important;
    margin-left: 10% !important;
  }
  .subject-body .projects .project {
    width: 100% !important;
  }
  .subject-body .projects .project .description {
    margin-top: 120px !important;
  }
  .project-body {
    margin-top: 0px;
    margin-left: 2%;
  }
  .project-body .banner {
    width: 93% !important;
  }
  .project-body .project-title, .project-body .project-description {
    width: 92.5%;
  }
  .project-body .slash {
    visibility: hidden;
    padding: 0 100% !important;
  }
  .project-body .tags {
    display: none;
  }
  .project-body .tag {
    padding: 1px 5px !important;
  }
  .project-body .spacer {
    margin-top: 50px !important;
    height: 5px;
  }
  .project-body .avatar {
    width: 32px !important;
    height: 32px !important;
  }
  .project-body .project-content {
    margin-top: 50px !important;
    width: 94% !important;
  }
  .project-body .project-content .column {
    width: 100% !important;
  }
  .slide {
    opacity: 1 !important;
  }
}

@media all and (max-width: 1366px) {
  .project-controls {
    display: none !important;
  }
  .slide {
    opacity: 1 !important;
  }
}
