@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --background: #1c1c1c;
  --secondary-background: #292929;
  --thirdnary-background: #e3e3e3;
  --text-color: #ddd;
  --hightlight-color: #5b58f2;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--thirdnary-background);
  border-radius: 5px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: var(--background);
  margin: 0;
}

svg {
  display: block;
}

a {
  text-decoration: none;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
  pointer-events: none;
}

*,
::after,
::before {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--text-color);
  box-sizing: border-box;
}

.wave {
  fill: var(--secondary-background);
}

.secondary-background {
  background: var(--secondary-background);
  width: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.copyable {
  cursor: pointer;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container {
  width: 100%;
  padding: 5px;
  margin-right: auto;
  margin-left: auto;
}

.electron-navbar {
  margin-top: 30px;
}

.navbar {
  z-index: 25;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 40px;
    margin-top: 15px;
    font-size: 16px;
    margin-left: 20px;
    border-radius: 0.5ch;
  }

  li {
    a {
      display: block;
      color: var(--text-color);
      text-align: center;
      padding: 8px 22px;
      text-decoration: none;
      height: 100%;
      border-radius: 0.5ch;
      position: relative;
      transition: background-color 0.2s ease;

      img {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        position: absolute;
        top: 30%;
        left: 10%;
      }

      /*&:not(.disabled) {
       border: 1px solid var(--hightlight-color);
      }*/

      &:not(.disabled) {
        background: var(--secondary-background);
      }

      &:not(.disabled):hover {
        background: transparent;
      }
    }

    .profile {
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 38px;
      padding-right: 22px;
    }

    .disabled {
      cursor: default;
    }

    &:not(.right) {
      float: left;
    }

    &.right {
      float: right;
    }

    &:not(:last-child) {
      margin-right: 1ch;
    }
  }
}

.landing-header {
  .center {
    margin-top: 15%;
    text-align: center;
    font-size: 22px;

    h1 {
      display: inline;
    }
  }
}

.publish {
  * {
    outline: none;
    border: none;
    border-radius: 0.5ch;
  }

  h1,
  h4 {
    margin: 15px 0 4px;
    font-weight: 400;
  }

  h4 {
    margin: 20px 0 4px;
    font-weight: 400;
  }

  form {
    width: 100%;
    padding: 20px;
  }

  input {
    width: calc(100% - 10px);
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 0.5ch;
    vertical-align: middle;
    background: transparent;
  }

  input:hover,
  textarea:hover,
  select:hover {
    outline: none;
    border: 1px solid var(--hightlight-color);
    background: var(--secondary-background);
  }

  select:hover {
    cursor: pointer;
  }

  .title-block select,
  .title-block input {
    margin-bottom: 10px;
  }

  .preview {
    background: var(--secondary-background);
    border-radius: 0.5ch;
    padding: 10px;
  }

  .needed {
    margin-left: 5px;
    color: rgb(255, 56, 56);
    opacity: 0.75;
  }

  select {
    padding: 10px 5px;
    border: 1px solid #fff;
    background: transparent;
  }

  select,
  table {
    width: 100%;
  }

  option {
    background: var(--secondary-background);
    padding: 10px;
  }

  .small {
    font-size: 10px;
    line-height: 18px;
  }

  .first-col {
    width: 25%;
    text-align: left;
  }

  textarea {
    width: calc(100% - 6px);
    background: transparent;
    border: 1px solid var(--text-color);
    resize: vertical;
    padding: 15px;
  }

  .btn-block {
    margin-top: 20px;
    text-align: center;
  }

  button {
    width: 150px;
    padding: 10px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: var(--hightlight-color);
    font-size: 16px;
    color: #fff;
    cursor: pointer;
  }

  button:hover {
    opacity: 0.9;
  }

  @media (min-width: 568px) {
    .title-block {
      display: flex;
      justify-content: space-between;
    }
    .title-block select {
      width: 30%;
      margin-bottom: 0;
    }
    .title-block input {
      width: 31%;
      margin-bottom: 0;
    }
  }
}

.post-view {
  .head {
    margin-top: 10%;
    font-size: 22px;
    padding: 0 20px;

    h1 {
      display: inline;
    }

    p {
      font-size: 16px;
    }
  }

  .details {
    margin-top: 25%;
    opacity: 0.75;
    position: absolute;
    bottom: 30px;
  }

  .post-options {
    button {
      border-radius: 0.5ch;
      padding: 8px 25px;
      outline: none;
      border: none;
      background: var(--secondary-background);
      color: var(--text-color);
      cursor: pointer;
      margin-left: -5px;
      margin-top: 15px;

      &:hover {
        opacity: 0.85;
      }
    }
  }
}

.post-content {
  margin-top: 2%;
  width: 100%;

  border-radius: 0.5ch;
  background: var(--secondary-background);
  padding: 20px;
}

strong {
  font-weight: bold;
}

.posts {
  a {
    text-decoration: none;
  }

  .post {
    float: left;
    width: 50%;
    padding: 25px;

    transition: 1s;

    background: var(--background);
    border-radius: 1.05ch;
    border: 5px solid var(--secondary-background);
    text-align: center;

    .details {
      opacity: 0.75;
      path {
        fill: var(--hightlight-color);
        opacity: 0.75;
      }
    }
  }

  .post:hover {
    transform: scale(1.01);
  }

  @media screen and (max-width: 600px) {
    .post {
      width: 100%;
    }
  }
}

.posts:after {
  content: "";
  display: table;
  clear: both;
}

.user-profile {
  color: var(--text-color);

  .label {
    opacity: 0.5;
  }

  .box {
    border-radius: 0.5ch;
    background: var(--secondary-background);
    padding: 25px;

    &:not(:first-child) {
      margin-top: 1.5%;
    }
  }

  .two-column {
    .column-profile-header {
      float: left;
      width: 50%;
      padding: 10px;
    }
  }

  .two-column:after {
    content: "";
    display: table;
    clear: both;
  }

  .header {
    min-height: 325px;
    margin-top: 5%;

    .name {
      opacity: 0.75;
    }

    .username {
      margin-top: -15px;
      font-weight: bold;

      span {
        padding: 4px 4px;
        border-radius: 0.5ch;
        background-color: var(--background);
        opacity: 0.5;

        &:not(:first-child) {
          margin-left: 3px;
        }
      }
    }

    .icon {
      position: relative;
      width: 128px;

      * {
        transition: all 0.2s ease-in-out;
        cursor: pointer;
      }

      img {
        display: block;
        border-radius: 50%;
        width: 128px;
        height: 128px;
      }

      .ic {
        position: relative;
        z-index: 2;
      }

      .fa-pen {
        position: absolute;
        left: 96px;
        bottom: 8px;
        border-radius: 50%;
        background: var(--background);
        padding: 6px;
        z-index: 3;

        &:hover {
          opacity: 0.9;
        }
      }

      .fa-retweet {
        font-size: 56px;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        z-index: 1;
      }

      img:hover {
        opacity: 0.25;
      }
    }

    .social-bar {
      a {
        font-size: 22px;
        opacity: 0.25;
        transition: all 0.3s ease;
      }

      a:hover {
        opacity: 0.75;
      }

      a:first-child {
        padding-right: 8px;
      }

      a:not(:first-child) {
        padding: 8px;
      }
    }

    .pronoun {
      margin-top: 25px;
    }

    .location {
      .right {
        margin-left: 10px;
        font-weight: bold;
      }
    }

    .about {
      .mention {
        color: #706ecf;
        font-weight: 500;
        transition: all 0.1s ease-in;
        &:hover {
          opacity: 0.75;
        }
      }

      .hashtag {
        color: rgb(79, 201, 118);
        font-weight: 500;
        transition: all 0.1s ease-in;
        &:hover {
          opacity: 0.75;
        }
      }
    }

    .nowplaying {
      height: 78px;
      padding: 6px;
      width: 400px;
      border-radius: 0.5ch;
      outline: none;
      box-shadow: rgba(29, 185, 84, 0.4) 0px 2px 0px, rgba(0, 0, 0, 0.3) 0px 5px 7px -3px, rgba(29, 185, 84, 0.1) 0px -3px 0px inset;
      margin-top: 5px;

      .song-icon {
        display: inline-block;
        vertical-align: top;

        img {
          border-radius: 0.5ch;
          width: 64px;
          height: 64px;
        }
      }

      .info {
        display: inline-block;
        margin-top: -25px;
        margin-left: 10px;

        .title {
          padding: 0;
        }

        .artist {
          opacity: 0.5;
          display: block;
          margin-top: -20px;
          font-size: 14px;
        }

        .footer {
          opacity: 0.25;
          font-size: 12px;
          display: block;
          margin-top: -10px;
        }
      }
    }

    .albums-of-the-week {
      width: 360px;
      margin-top: 5px;
      position: relative;

      .album {
        float: left;
        width: 20%;
        img {
          border: 2px solid var(--secondary-background);
          border-radius: .5ch;
          width: 72px;
          height: 72px;
        }

        transition: all .3s ease-in-out;

        &:hover {
          opacity: .75;
        }
      }

      &:after {
        content: "";
        display: table;
        clear: both;
      }

      .extra {
        width: 72px;
        height: 72px;
        font-size: 48px;
        background: var(--background);
        border-radius: .2ch;
        border: 2px solid var(--secondary-background);
        
        position: absolute;
        top: 50%;
        right: -30%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);

        text-align: center;
        opacity: .5;

        * {
          fill: rgba(79, 201, 118, 0.4);
        }

        .fa-plus {
          margin-top: 10px;
          opacity: .75;
        }

        transition: all .3s ease-in-out;

        &:hover {
          opacity: .35;
        }
        
      }

    }
  }

  .portfolio {
    .photos {
      .photo {
        object-fit: cover;
        padding: 10px;
        border-radius: 0.5ch;
        float: left;
        width: 32%;
        background: var(--background);
        margin-left: 1%;
        height: 350px;
        opacity: 0.85;
        transition: all 0.5s ease;

        &:hover {
          opacity: 1;
          box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
        }
      }
    }

    .photos:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}

.copy-to-clipboard {
  position: absolute;
  top: 7.5%;
  left: 50%;
  transform: translate(-50%, -7.5%);
  -ms-transform: translate(-50%, -7.5%);
  background: var(--secondary-background);
  padding: 8px 26px;
  border-radius: .5ch;
  opacity: .5;
}

@media all and (max-width: 1040px) {
  .column-profile-header {
    width: 100% !important;
  }

  .username {
    margin-top: 25px;
  }

  .photo {
    width: 100% !important;
    height: 350px !important;
    margin-top: 2%;
  }
}
