@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --hightlight-color: #5952da;
  --hightlight-secondary-color: #5952da;
  --primary-color: #292929;
  --secondary-color: #f5f5f5;
  --background-color: #101010; /* #1c1c1c */
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(55, 55, 55, 0.7);
  border-radius: 5px;
}

.container {
  width: 100%;
  padding: 5px;
  margin-right: auto;
  margin-left: auto;
}

.container::before {
  left: 50%;
  top: 0; bottom: 0;
  width: 1px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

html,body{
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

@media only screen and (max-width: 768px) {
  html, body {
    width:100%;
    overflow-x:hidden;
  }
}

button {
  font-family: "Poppins", sans-serif;	
  border: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.5;
  color: var(--secondary-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  user-select: none;
}

a, ::before, ::after {
  text-decoration: none;
  color: inherit;
}

.sp {
  width: 100%;
  height: 16px;
}

.navbar {
  font-size: 1.15rem;
  text-align: center;

  ul {
    display: inline-block;

    li {
      float: left;
      padding: 6px 22px;
      list-style: none;
      background: var(--primary-color);
      margin-left: 5px;
      border-radius: .5ch;
      transition: all .7s ease-in-out;
      cursor: pointer;
      font-weight: 400;

      &:hover {
        opacity: .5;
        background: var(--background-color);
      }

      .icon {
        display: none;
        opacity: .85;
      }
    }
  }
}

.homepage {

  .subjects {
    margin-left: 10%;
    width: 80%;
    margin-top: 50px;
    position: relative;
    border-radius: .5ch;
    border: 2px solid var(--background-color);
    padding: 0px 10px 20px 10px;

    .subjects-title {
      opacity: .5;
      font-weight: 400;
    }

    .subjects-description {
      height: 30px;
      margin-top: -25px;
      font-weight: 400;
      font-size: .9rem;
      opacity: .9;
    }

    .subject {
      width: 100%;
      height: 60px;
      overflow: hidden;
      border-radius: .5ch;
      background: var(--primary-color);
      position: relative;
      transition: all .3s ease-in-out;

      .title {
        position: absolute;
        top: 15%;
        left: 20px;
        padding: 5px 10px;
        font-size: 1.3rem;
      }

      .link {
        position: absolute;
        top: 23%;
        right: 20px;
        background: var(--background-color);
        padding: 5px 10px;
        border-radius: .5ch;
        transition: all .5s ease-in-out;
        font-size: 16px;
        font-weight: 400;

        &:hover {
          opacity: .75;
        }
      }

      &:not(.first-child) {
        margin-top: 10px;
      }

      &:hover {
        transform: scale(1.005);
      }
    }
  }

  .students {
    margin-left: 10%;
    width: 80%;
    margin-top: 40px;
    position: relative;
    border-radius: .5ch;
    border: 2px solid var(--background-color);
    padding: 0px 10px 20px 10px;

    .students-title {
      opacity: .5;
      font-weight: 400;
    }

    .students-description {
      height: 10px;
      margin-top: -25px;
      font-weight: 400;
      font-size: .9rem;
      opacity: .9;
    }

    .students-show-hide  {
      padding: 7.5px 18px;
      border-radius: .5ch;
      background: var(--primary-color);
      color: var(--secondary-color);
      cursor: pointer;
      transition: all .3s ease-in-out;
      font-weight: 500;

      &:hover {
        opacity: .75;
      }
    }

    #students-list {
      .student {
        float: left;
        width: 24%;
        min-height: 200px;
        text-align: center;
        background: rgba(41, 41, 41, .25);
        border-radius: .5ch;
  
        &:not(:first-child) {
          margin-left: .5%;
        }
  
        .name {
          opacity: .75;
          font-size: 1.3rem;
          display: block;
          width: 100%;
          height: 1.6rem;
        }
  
        .avatar {
          margin-top: 35px;
          border-radius: 50%;
          width: 72px;
          height: 72px;
        }
  
        .projects {
          opacity: .15;
          font-size: 1rem;
          font-weight: 400;
        }
      }
    }
  }

  .students::after {
    content: "";
    display: table;
    clear: both;
  }

  .about {
    margin-left: 10%;
    width: 80%;
    position: relative;
    border-radius: .5ch;
    border: 2px solid var(--background-color);
    padding: 0px 10px 20px 10px;
    margin-top: 30px;

    .about-title {
      opacity: .5;
      font-weight: 400;
    }

    .about-description {
      margin-top: -25px;
      font-weight: 400;
      font-size: .9rem;
      opacity: .9;
      line-height: 1.6rem;

      span {
        color: var(--hightlight-color);
        font-weight: 600;
      }
    }

    .qr {
      img {
        display: none;
        width: 128px;
        height: 128px;
        border-radius: .25ch;
        margin-top: 5px;
        opacity: .9;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      }

      .btn {
        width: 100%;
      }

      button {
        padding: 7.5px 18px;
        border-radius: .5ch;
        background: var(--primary-color);
        color: var(--secondary-color);
        cursor: pointer;
        transition: all .3s ease-in-out;
        font-weight: 500;

        &:hover {
          opacity: .75;
        }
      }
    }
  }
}

.subject-body {
  margin-top: 50px;

  .subject-name {
    font-weight: 400;
    opacity: .5;
  }

  .details {
    font-size: 1rem;
    opacity: .85;
    margin-top: -30px;
    padding: 0px 5px;
  }

  .slash {
    opacity: .5;
    padding: 0px 7.5px;
  }

  .teacher-prefix {
    opacity: .5;
    padding: 0px 2.5px 0px 2px;
  }

  .projects {
    margin-top: 50px;
    padding: 0px 5px;
    border-radius: .5ch;

    .project {
      width: 100%;
      background: var(--primary-color);
      padding: 20px 20px 10px 20px;
      border-radius: .5ch;
      cursor: pointer;
      transition: all .3s ease-in-out;

      &:hover {
        img.banner {
          height: 300px;
        }
      }

      &:not(:first-child) {
        margin-top: 15px;
      }

      img.banner {
        width: 100%;
        height: 250px;
        border-radius: .5ch;
        object-fit: cover;
        transition: all .5s ease;
      }

      .info {
        padding: 5px 2.5px 15px 2.5px;
        position: relative;

        .name {
          text-transform: capitalize;
          height: 20px;
          margin-top: -5px;
          opacity: 1;
          font-weight: 400;
        }

        .description {
          font-size: 1rem;
          opacity: .5;
          font-weight: 400;
          margin-top: -5px;
        }

        .spacer {
          height: 10px;
        }

        .date {
          position: absolute;
          bottom: 1px;
          right: 5px;
          font-weight: 400;
          font-size: 1rem;
          opacity: .1;

          .icon {
            margin-left: 2.5px;
          }
        }

        .students {
          position: absolute;
          bottom: -5px;
          left: 2px;
          font-size: 1rem;

          .avatar {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: 2px solid var(--primary-color);

            &:not(:first-child) {
              margin-left: -10px;
            }
          }
        }
      }
    }
  }
}

.project-body {
  margin-top: 50px;

  .project-head {
    .banner {
      width: 100%;
      height: 250px;
      border-radius: .5ch;
      object-fit: cover;
      transition: all 1s ease;
      cursor: zoom-in;

      &:hover {
        height: 400px;
      }
    }

    .project-title {
      margin-top: 0px;
      font-weight: 400;
      opacity: .75;  
    }

    .project-description {
      font-size: 1rem;
      opacity: .35;
      margin-top: -30px;
    }

    .details {
      position: relative;
      font-size: 1rem;
      opacity: .85;
      
      padding: 0px 5px 0px 0px;

      .slash {
        opacity: .5;
        padding: 0px 8px 0px 2px;
      }

      .tag {
        padding: 1px 1px 1px 6px;
        background: rgba(26, 26, 26, 0.2);
        opacity: .75;
        border-radius: .5ch;
        text-transform: capitalize;
      }

      .date {
        opacity: .25;
      }

      .students {
        position: absolute;
        .avatar {
          width: 18px;
          height: 18px;
          border-radius: 50%;
          border: 2px solid var(--background-color);

          &:not(:first-child) {
            margin-left: -10px;
          }
        }  
      }
    }
  }

  .spacer {
    width: 60%;
    border-bottom: 2px solid var(--primary-color);
    margin-top: 30px;
    opacity: .3;
  }

  .project-content {
    margin-top: 30px;

    *, ::after, ::before {
      overflow: hidden;
    }

    h1, h2, h3, h4, h5, h6 {
      color: #c4c4c4;
      font-weight: 400;
    }

    p {
      font-size: 1rem;
      opacity: .85;
      text-indent: 10px;
      line-height: 1.4rem;
    }

    img {
      margin-top: 10px;
      border-radius: .5ch;
      object-fit: cover;
      width: 100%;
      height: 200px;
    }

    .two {
      margin-top: -30px;

      img {
        margin-top: 25px;
      }

      &:not(:first-child) {
        margin-top: 30px;
      }

      .column {
        float: left;
        width: 49%;

        p {
          padding: 10px;
        }
        
        &:not(:last-child) {
          margin-right: 1%;
        }

        .alt {
          display: block;
          font-size: .8rem;
          height: 1rem;
          margin-top: 0px;
          font-weight: 500;
          font-style: italic;
        }
      }

      &::after {
        content: "";
        display: table;
        clear: both;
      }
    }

    @keyframes show {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    .slide {
      animation: show 1.5s ease-in-out 1;

      &:not(:first-child) {
        margin-top: 200px;
        opacity: .3;
      }

      background: rgba(34, 34, 34, 0.4);
      padding: 10px 30px;
      border-radius: .5ch;
      min-height: 60vh;

      border: 2px solid transparent;

      h1, h2, h3, h4, h5, h6, p {
        margin-top: 0px;
      }

      p a {
        color: rgb(201, 201, 201);
      }

      img {
        transition: all .3s ease;
      }

      transition: all .5s ease;

      &:focus {
        border-top-left-radius: .5ch;
        border-bottom-left-radius: .5ch;
        outline: none;
        border-left: 2px solid var(--hightlight-color);
        opacity: 1;
        box-shadow: none;

        img {
          transition: all .5s ease;
          height: 400px;
        }
      }
    }
  }
}

.project-controls {
  position: absolute;
  top: 75%;
  left: 10%;
  transform: translate(-75%, -15%);
  -ms-transform: translate(-75%,-15%);

  .btn {
    width: 42px;
    height: 42px;
    display: block;
      
    font-size: 16px;
    border-radius: .5ch;
    background: var(--primary-color);
    color: var(--text-color);
    cursor: pointer;
    text-align: center;
    transition: all .3s ease-in-out;

    &:hover {
      opacity: .75;
    }

    &:not(:first-child) {
      margin-top: 5px;
    }

    &[disabled] {
      opacity: .5;
      cursor: not-allowed;
    }
  }
}

.hightlight {
  animation: hightlight 2.5s 1;
}

@keyframes hightlight {
  0% {
    border: 2px solid var(--background-color);
  }
  20% {
    border: 2px solid var(--background-color);
  }
  40% {
    border: 2px solid var(--hightlight-secondary-color);
  }
  50% {
    border: 2px solid var(--hightlight-secondary-color);
  }
  60% {
    border: 2px solid var(--hightlight-secondary-color);
  }
  80% {
    border: 2px solid var(--background-color);
  }
  100% {
    border: 2px solid var(--background-color);
  }
}

@media all and (max-width: 920px) {

  .students {
    display: none !important;
  }	

  .navbar {
    margin-left: -10% !important;

    .icon {
      display: block !important;
    }
    .text {
      display: none !important;
    }
  }

  .homepage {
    .subjects > .list {
      margin-top: 30px !important;
    }

    .subjects, .students {
      margin-left: 0% !important;
      width: 90% !important;
    }

    .student {
      width: 100%  !important;
      &:not(:first-child) {
        margin-top: 5px;
      }
    }

    .about {
      margin-left: 0% !important;
      width: 90% !important;
    }
    
    .qr {
      display: none !important;
    }
  }

  .subject-body {
    width: 80% !important;

    .subject-head {
      width: 100% !important;
      margin-left: 10% !important;
    }

    .subject-name {
      text-align: center !important;
    }

    .details {
      .slash {
        opacity: 0 !important; 
        padding: 0 100% !important;
      }

      text-align: center !important;
    }

    .projects {
      text-align: center !important;
      margin-left: 10% !important;

      .project {
        width: 100% !important;
        .description {
          margin-top: 120px !important;
        }
      }
    }
  }

  .project-body {
    margin-top: 0px;
    margin-left: 2%;

    .banner {
      width: 93% !important;
    }

    .project-title, .project-description {
      width: 92.5%;
    }

    .slash {
      visibility: hidden;
      padding: 0 100% !important;
    }

    .tags {
      display: none;
    }

    .tag {
      padding: 1px 5px !important;
    }

    .spacer {
      margin-top: 50px !important;
      height: 5px;
    }

    .avatar {
      width: 32px !important;
      height: 32px !important; 
    }
    
    .project-content {
      margin-top: 50px !important;
      width: 94% !important;

      .column {
        width: 100% !important;
      }
    }
  }

  .slide {
    opacity: 1 !important;
  }
}

@media all and (max-width: 1366px) {
  .project-controls {
    display: none !important;
  }

  .slide {
    opacity: 1 !important;
  }
}