@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --hightlight-color: #525eda;
  --hightlight-secondary-color: #56dd81;
  --primary-color: #292929;
  --secondary-color: #f5f5f5;
  --background-color: #1c1c1c;
}

.container {
  width: 100%;
  padding: 5px;
  margin-right: auto;
  margin-left: auto;
}

.container::before {
  left: 50%;
  top: 0; bottom: 0;
  width: 1px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

html,body{
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

@media only screen and (max-width: 768px) {
  html, body {
    width:100%;
    overflow-x:hidden;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.5;
  color: var(--secondary-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  user-select: none;
}

a, ::before, ::after {
  text-decoration: none;
  color: inherit;
}

.navbar {
  font-size: 1.2rem;
  text-align: center;

  ul {
    display: inline-block;

    li {
      float: left;
      padding: 5px 20px;
      list-style: none;
      background: var(--primary-color);
      margin-left: 5px;
      border-radius: .5ch;
      transition: all .5s ease-in-out;
      cursor: pointer;

      &:hover {
        opacity: .75;
        transform: scale(1.003);
        background: var(--background-color);
      }

      .icon {
        display: none;
        opacity: .85;
      }
    }
  }
}

.homepage {
  .header {
    margin-top: 50px;
    .about {
      text-align: center;
    }
  }

  .subjects {
    margin-left: 10%;
    width: 80%;
    margin-top: 50px;
    position: relative;
    border-radius: .5ch;
    border: 2px solid var(--background-color);
    padding: 0px 10px 20px 10px;

    .subjects-title {
      opacity: .5;
      font-weight: 400;
    }

    .subject {
      width: 100%;
      height: 60px;
      overflow: hidden;
      border-radius: .5ch;
      background: var(--primary-color);
      position: relative;
      transition: all .3s ease-in-out;

      .title {
        position: absolute;
        top: 18%;
        left: 20px;
        padding: 5px 10px;
      }

      .link {
        position: absolute;
        top: 23%;
        right: 20px;
        background: var(--background-color);
        padding: 5px 10px;
        border-radius: .5ch;
        transition: all .5s ease-in-out;
        font-size: 16px;

        &:hover {
          opacity: .75;
        }
      }

      &:not(.first-child) {
        margin-top: 10px;
      }

      &:hover {
        transform: scale(1.005);
      }
    }
  }

  .students {
    margin-left: 10%;
    width: 80%;
    margin-top: 40px;
    position: relative;
    border-radius: .5ch;
    border: 2px solid var(--background-color);
    padding: 0px 10px 20px 10px;

    .students-title {
      opacity: .5;
      font-weight: 400;
    }

    .students-description {
      height: 10px;
      margin-top: -25px;
      font-weight: 400;
      font-size: .9rem;
      opacity: .9;
    }

    .student {
      float: left;
      width: 22%;
      min-height: 200px;
      text-align: center;
      background: var(--primary-color);
      border-radius: .5ch;

      &:not(:first-child) {
        margin-left: .5%;
      }

      .name {
        opacity: .75;
        font-size: 1.3rem;
        display: block;
        width: 100%;
        height: 1.6rem;
      }

      .avatar {
        margin-top: 35px;
        border-radius: 50%;
        width: 72px;
        height: 72px;
      }

      .projects {
        opacity: .25;
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }

  .students::after {
    content: "";
    display: table;
    clear: both;
  }

  .about {
    margin-left: 10%;
    width: 80%;
    position: relative;
    border-radius: .5ch;
    border: 2px solid var(--background-color);
    padding: 0px 10px 20px 10px;
    margin-top: 30px;

    .about-title {
      opacity: .5;
      font-weight: 400;
    }

    .about-description {
      height: 10px;
      margin-top: -25px;
      font-weight: 400;
      font-size: .9rem;
      opacity: .9;
    }
  }
}

.subject-body {
  margin-top: 50px;

  .subject-name {
    font-weight: 400;
    opacity: .5;
  }

  .details {
    font-size: 1.2rem;
    opacity: .85;
    margin-top: -20px;
    padding: 0px 5px;
  }

  .slash, .teacher-prefix {
    opacity: .5;
    padding: 0px 7.5px;
  }

  .projects {
    margin-top: 50px;
    width: 70%;
    border-radius: .5ch;

    .project {
      width: 100%;
      background: var(--primary-color);
      padding: 20px 20px 10px 20px;
      border-radius: .5ch;
      cursor: pointer;
      transition: all .3s ease-in-out;

      &:hover {
        transform: scale(1.005);
      }

      img.banner {
        width: 100%;
        height: 250px;
        border-radius: .5ch;
        object-fit: cover;
      }

      .info {
        padding: 5px 2.5px 15px 2.5px;
        position: relative;

        .name {
          text-transform: capitalize;
          height: 20px;
          margin-top: -5px;
          opacity: .5;
          font-weight: 400;
        }

        .description {
          font-size: 1rem;
          opacity: .85;
        }

        .date {
          position: absolute;
          bottom: 1px;
          right: 5px;
          opacity: .25;
          font-size: 1rem;
        }

        .students {
          position: absolute;
          bottom: -5px;
          left: 2px;
          font-size: 1rem;

          .avatar {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: 2px solid var(--primary-color);

            &:not(:first-child) {
              margin-left: -10px;
            }
          }
        }
      }
    }
  }
}

.project-body {
  margin-top: 50px;

  .project-head {
    .banner {
      width: 100%;
      height: 250px;
      border-radius: .5ch;
      object-fit: cover;
    }

    .project-title {
      font-weight: 400;
      opacity: .5;  
    }

    .project-description {
      font-size: 1.1rem;
      opacity: .75;
      margin-top: -20px;
    }

    .details {
      position: relative;
      font-size: 1.2rem;
      opacity: .85;
      
      padding: 0px 5px 0px 0px;

      .slash {
        opacity: .5;
        padding: 0px 7.5px;
      }

      .tag {
        padding: 1px 2px 1px 7px;
        background: #444;
        opacity: .75;
        border-radius: .5ch;
        text-transform: capitalize;
      }

      .date {
        opacity: .25;
      }

      .students {
        position: absolute;
        .avatar {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          border: 2px solid var(--primary-color);

          &:not(:first-child) {
            margin-left: -10px;
          }
        }  
      }
    }
  }

  .spacer {
    width: 60%;
    border-bottom: 2px solid var(--primary-color);
    margin-top: 30px;
    opacity: .3;
  }

  .project-content {
    margin-top: 30px;

    h1, h2, h3, h4, h5, h6 {
      font-weight: 300;
      opacity: .75;
    }
  }
}

.hightlight {
  animation: hightlight 2.5s 1;
}

@keyframes hightlight {
  0% {
    border: 2px solid var(--background-color);
  }
  20% {
    border: 2px solid var(--background-color);
  }
  40% {
    border: 2px solid var(--hightlight-secondary-color);
  }
  50% {
    border: 2px solid var(--hightlight-secondary-color);
  }
  60% {
    border: 2px solid var(--hightlight-secondary-color);
  }
  80% {
    border: 2px solid var(--background-color);
  }
  100% {
    border: 2px solid var(--background-color);
  }
}

@media all and (max-width: 920px) {
  .navbar {
    margin-left: -10%;

    .icon {
      display: block !important;
    }
    .text {
      display: none;
    }
  }

  .homepage {
    .subjects, .students {
      margin-left: 0% !important;
      width: 90% !important;
    }

    .student {
      width: 100%  !important;
      &:not(:first-child) {
        margin-top: 5px;
      }
    }

    .about {
      margin-left: 0% !important;
      width: 90% !important;
    }
  }

  .subject-body {
    .subject-name {
      text-align: center;
    }

    .details {

      .slash {
        opacity: 0; 
        padding: 0 100%;
      }

      text-align: center;
    }

    .projects {
      text-align: center;
      margin-left: 10%;

      .project {
        .description {
          margin-top: 70px;
        }
      }
    }
  }

  .project-body {
    margin-left: 2%;

    .banner {
      width: 90% !important;
    }

    .project-title, .project-description {
      width: 90%;
    }

    .slash {
      visibility: hidden;
      padding: 0 100% !important;
    }

    .tags {
      display: none;
    }

    .tag {
      padding: 1px 5px !important;
    }

    .spacer {
      opacity: 0;
    }

    .avatar {
      width: 32px !important;
      height: 32px !important; 
    }
    
    .project-content {
      width: 92% !important;
    }
  }
}