
<br>
<div class="slides">
  <div class="slide">
    <img src="https://www.clubefarroupilha.com.br/wp-content/uploads/2019/06/WhatsApp-Image-2019-06-13-at-10.47.05.jpeg" alt="">
    <h3>Mecanização</h3>
    <p>
      Como resultado do processo de industrialização a atenção dada à novos módos de produção que pudessem ser expandidos
      em larga escala com maior produtividade e maior lucrativa era de grande importância. Através da mecanização foi
      possível alcançar esses objectivos, com máquinas a vapor foi possibilitado a produção com baixo custo e mão de
      obra nescessária reduzida. A mecanização não ocorreu somente dentro das fábricas mas também na indústria agrícola,
      já que com uma produção extendida, a nescessidade para matéria prima também aumentou, então foi nescessário investir
      em formas de suprir a demanda de matéria prima.
    </p>
  </div>
  
  <div class="slide">
    <img src="https://cdn.pixabay.com/photo/2020/06/04/05/13/steam-engine-5257205_960_720.png" style="background: #fff;">
    <h3>Motor a vapor</h3>
    <p>
      O motor a vapor, também conhecido como turbina a vapor, é um tipo de máquina térmica que explora a pressão
      do vapor produzido por uma caldeira para se movimentar. O fluído de trabalho do motor é o vapor de água sob alta pressão e temperatura.
      O funcionamento do mesmo baseia-se no princípio de expansão de vapor, gerando diminuição na temperatura e energia interna;
      essa energia interna perdida pela massa de gás reaparece na forma de energia mecânica, pela força exercida contra um <a href="https://www.google.com/search?q=%C3%AAmbolo&source=lmns&bih=959&biw=958&hl=pt-BR&sa=X&ved=2ahUKEwifv4umgdD0AhVL_hQKHcPQDa0Q_AUoAHoECAEQAA" target="_blank" rel="noopener noreferrer">êmbolo</a>.
      Foi em 1777 que o motor a vapor mais relevante e importante foi criado, quando James Watt, fabricante de instrumentos londrino, que
      aperfeiçoou <a href="https://pt.wikipedia.org/wiki/Motor_a_vapor_de_Newcomen" target="_blank" rel="noopener noreferrer">o motor a vapor de Newcomen</a>
      que tinha falhas e problemas de eficiência.
    </p>
    <p>
      Uma das primeiras utilizações da máquina a vapor foi para a fabricação de tecidos, graças a essas máquinas, a produção
      de mercadorias aumentou muito, na mesma proporção os lucros para os donos de fábricas também. Por isso, os empresários
      ingleses começaram a investir na instalação de indústrias, espalhando-as rapidamente por toda inglaterra. Tudo possível pela
      energia gerada pela máquina a vapor.
    </p>
  </div>
  
  <div class="slide">
    <img src="https://www.revistaquestaodeciencia.com.br/sites/default/files/inline-images/QQ_CARVAO_MINA_INTERNA_20181128.jpg">
    <h3>Minas de carvão</h3>
    <p>
      As minas de carvão durante o período da mecanização eram grandes galerias subterrâneas exploradas para extrair o carvão mineral, 
      também conhecido como hulha. Extraindo cerca de 100 milhões de toneladas por ano somente em solo inglês, a hulha possibilitou a 
      geração de calor para as caldeiras das máquinas a vapor. Sem a hulha extraída destas minas de carvão a revolução industrial não seria possível, pois
      som ela, as fábricas não moviam suas máquinas, as locomotivas não poderiam transportar os produtos e matérias primas, 
      as pessoas não se aqueceriam no inverno e o acesso à energia elétrica seria cortado.
    </p>
  </div>
</div>