<!-- <div class="ref-bar">
  <span class="ref-title">Tópicos</span>
  <a href="#intro" class="ref">Intro</a>
  <a href="#intro" class="ref">Dev</a>
</div> -->

<p>
  <!-- Esse foi o momento em que o homem passou a dar mais atenção a agricultura,
e viu que ela deveria expandir-se em larga escala, e ao mesmo tempo as indústrias
agrícolas surgiram, criando maquinas para ajudar a aumentar a produção de alimentos. -->

  E esse foi o momento em que o homem passou a dar mais atenção a módos de produção que pudessem ser
  expandidos em larga escala, com maior produtividade e maior lucratividade. Além disso, ao mesmo tempo as indústrias
  agrícolas surgiram, criando maquinas para ajudar a aumentar a oferta por matéria prima.
</p>

<p>
  A mecanização agrícola tomou grande impulso a partir das semeadoras, já que para o plantio de grãos, por exemplo, 
  economizava-se na quantia de sementes nescessárias e elevava a produtividade da colheita. Outra máquina que foi
  uma autêntica inovação desta época, foi a máquina de descaroçar o algodão, projetada por <i>Eli Whitney</i>, 
  considerada um dos principais avanços no período, pois, para descaroçar o algodão, era um processo que demandava grande
  contingente de mão-de-obra, e esta máquina foi de grande ajuda para o seu cultivo e aumentando a produtividade 
  nesta cultura. Em 1830 e 1860, as ceifadeiras e segadeiras, para feno, foram as grandes inovações da época, 
  possibilitando assim a produção de alimentos com grande efetividade e baixo custo.
</p>
<p>
  Os anos foram passando e novos equipamentos com novas funções e melhor performance foram sendo desenvolvidos,
  diminuindo, assim, a mão-de-obra nescessária nas fábricas.
</p>